.show {
      width: 75vw;
      height: 35vh;
      border: 1px solid blue;
      background-color: rgb(255, 255, 0);
      margin: auto;
      border-radius: 5px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
    }

    .pro {
      position: relative;
      width: 15vw;
      border: 1px solid white;
      height: 32vh;
      background-color: red;
      background-image: url("https://preview.redd.it/qaw7okei0ei91.jpg?auto=webp&s=cd5e9cae5862a36a4959eda38d1ec45c404489a5");
      background-size: contain;
      overflow: hidden;
    }

    .procontainer {
      position: absolute;
      width: 15vw;
      height: 32vh;
      background-color: rgb(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .procontainer i {
      color: white;
      font-size: x-large;
    }

    .boxes {
      background-color: black;
      width: 55vw;
      height: 32vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      border: 1px solid red;
    }

    .inner {
      display: flex;
      justify-content: start;
      align-items: center;
      text-align: center;
      flex-direction: row;
      width: 54vw;
      height: 30vh;
      border: 1px solid rosybrown;
      background-color: yellow;
      overflow: scroll;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-behavior: smooth;
    }

    .box {
      background-color: rgba(41, 41, 41, 0.7);
      width: 15vw;
      height: 28vh;
      border: 1px solid white;
      flex-shrink: 0;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: 1px 2px 1px 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .box img {
      width: 134px;
      height: 190px;
    }

    .displayok {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 14vw;
      /*background-color: rgb(187, 123, 28);*/
      color: yellow;
      height: 3vh;
      margin-top: 4px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      flex-direction: row;
      border-radius: 25px;
      width: 55vw;
    }

    .onesecond {
      color: yellow;
      border: 1px solid black;
      background-color: black;
      width: 3vw;
      height: 9vh;
    }

    .onefirst {
      color: yellow;
      border: 1px solid black;
      background-color: black;
      width: 3vw;
      height: 9vh;
    }