.navtwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border : 1px solid white;
    background:linear-gradient(to right,rgb(0, 0, 0),rgb(17, 16, 16));
    color: white;
    width: 99.9vw;
    height: 5vh;
    margin: 0px;
}
.navtwo .a {
    text-decoration:none;
    color: white;
}
.navtwo span{
    margin:35px;
}
.proper{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 25vh;
    width: 100vw;
    background: linear-gradient(to left ,rgb(95, 144, 95), rgb(145, 145, 13),rgb(95, 144, 95));
}
.hollow{
    margin-top: 125vh;
    position: relative;
    bottom: 0;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    color: white;
    background-color: aqua;
}
.boxlast{
    color:white;
    display: flex;
    justify-content: center;
align-items:start;
flex-direction: column;
margin-left:25px ;
margin-top: -40px;
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: -22px;
    width: 17vw;
    margin-left:1vw ;
}
.conn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    align-items: center;
    width: 2vw;
    gap: 4px;
}
.conn .loc {
    color: white;
}
.connex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    text-align:right;
    color: white;
    width: 15vw;
    gap: 5px;
}
.connex .cox {
    text-decoration: none;
    color: white;
}
.chan{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: left;
    margin-top: -5vh;
    margin-left: 0px ;
    color: white;
    text-align: left;
    width: 10vw;
    gap: 5px;
}
.last{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    text-align: center;
    margin-right: -0px;
    margin-top: -5vh;
    color: white;
    gap: 7px;
    text-align:center;
    width: 10vw;
}
.akri{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: -3vh;
    color: white;
    height:5vh;
    background: linear-gradient(to left ,rgb(123, 101, 101), rgb(165, 102, 38),rgb(237, 9, 47),blue);
    align-items: center;
}
.bas{
    border: 1px solid black;
}