 .showimg {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 100%;
            border: 1px solid blue;
            margin-top: 15px;
            height: 767px;
        }

        .containsimg {
            width: 50%;
            height: 700px;
            border: 1px solid black;
        }

        .containsimg img {
            width: 100%;
            height: 100%;
        }

        .logincolumn {
            width: 40%;
            height: 700px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .logs {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 25px;
            margin-top: 2vh;
        }

        .logs button:nth-child(1) {
            width: 15vw;
            height: 6vh;
            background: linear-gradient(to left, black);
            color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 15px;
            border-radius: 10px;
        }

        .logs button:nth-child(2) {
            width: 15vw;
            height: 6vh;
            background-color: white;
            color: black;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 15px;
            border-radius: 10px;
        }

        .logincolumn #logo {
            width: 200px;
            height: 200px;

        }

        .spanall {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 15vw;
            align-items: center;
            margin-top: auto;
        }
        .recovery{
             display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            gap: 2px;
        }
         .recov {
            width: 25px;
            height: 25px;
        }
        a{
            text-decoration: none;
        }