 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
.change {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( to right ,rgb(0, 0, 0),rgb(12, 29, 126),black);
}
.navList{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 300px;
}
.navList .navItem{
    color: yellow;
    list-style-type: none;  
       width: 6vw;
       height: 3vh;    
       padding: 8px; 
       align-items: center;
       cursor: pointer;
       background-color: rgba(255, 255, 255, 0.15);
       border-radius: 7px;
       border: 1px solid rgba(255, 255, 255,0.3);
       box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
       backdrop-filter: blur(20px);
       -webkit-backdrop-filter: blur(20px);
       display: flex;
       justify-content: center;
       position: relative;
       transition: color 0.3s ease;
         
}

.navList .navItem::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    transition: width 0.4s ease-in-out;
    box-shadow: 0 0 8px aliceblue;
    border-radius: 5px;
    z-index:-1;
    opacity: 0;
}


.navList .navItem:hover{
    color: red;
    text-shadow: 1px 0px 4px   rgba(255, 255, 0, 0.705);
    background-color:  rgba(243, 32, 32, 0);
}

.navList .navItem:hover::after {
opacity: 1;
border: 1px solid red;
}
