.containerall {
      display: flex;
      gap: 20px;
      align-items: start;
      background-color: white;
      justify-content: space-around;
      align-items: start;
      flex-direction: row;
       font-family: Arial, sans-serif;
    }

    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      position: relative;
      width: 500px;
      height: 90vh;
      perspective: 1000px;
      background-color: white;
      margin-top: 10px;
      border: 1px solid black;
    }

    .img-area {
      position: relative;
      width: 250px;
      height: 350px;
      overflow: hidden;
      cursor: crosshair;
      background-color: black;
      margin-top: 0px;
    }

    .flip-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    .flip-inner.flipped {
      transform: rotateY(180deg);
    }

    .flip-front,
    .flip-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      top: 0;
      left: 0;
    }

    .flip-front img,
    .flip-back img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      user-select: none;
      pointer-events: none;
    }

    .flip-back {
      transform: rotateY(180deg);
    }


    .lens {
      position: absolute;
      border: 2px solid rgb(255, 255, 255);
      width: 100px;
      height: 100px;
      background: rgba(255, 255, 255, 0.3);
      pointer-events: none;
      display: none;
      z-index: 5;
    }

    .result {
      border: 1px solid #d4d4d4;
      width: 900px;
      height: 90vh;
      background-repeat: no-repeat;
      background-color: #f9f9f9;
      position: relative;
      overflow: hidden;
    }

    .result .about {
      padding: 20px;
      color: black;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
    }

    .story {
      font-family: Arial, Helvetica, sans-serif;
    }

    #flipBtn {
      position: absolute;
      bottom: 10px;
      right: 10px;
      z-index: 10;
      padding: 10px 20px;
      background-color: red;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 6px;
    }

    button {
      margin-top: 10px;
      padding: 10px 20px;
      border: none;
      background: #333;
      cursor: pointer;
      border-radius: 6px;
      transition: 0.3s;
      color: black;
    }

    button:hover {
      background: #555;
    }

    .bandca {
      width: 250px;
      height: 6vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }

    .bandca button:nth-child(1) {
      width: 120px;
      height: 5vh;
      background-color: blue;
      color: yellow;
      cursor: pointer;
      border-radius: 6px;
    }

    .bandca button:nth-child(2) {
      width: 120px;
      height: 5vh;
      background-color: rgb(219, 63, 15);
      cursor: pointer;
      border-radius: 6px;
      color: white;
    }

    .bandca button {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .ckeck {
      background-color: rgb(48, 176, 226);
      width: 250px;
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: auto;
      cursor: pointer;
      gap: 15px;
      margin-top: -1px;
      margin-bottom: 0;
    }

    .ckeck i {
      width: 2vw;
      height: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

    }

    .ckeck i:nth-child(1) {
      width: 2vw;
      height: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ckeck i:nth-child(2) {
      width: 2vw;
      height: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ckeck i:nth-child(3) {
      width: 2vw;
      height: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ckeck i:nth-child(4) {
      width: 2vw;
      height: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ckeck span {
      color: white;
      margin-left: -15px;
    }

    .zoom-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-color: rgb(249, 249, 249);
      display: none;
      z-index: 10;
    }

    .zoom-container.active {
      display: block;
    }

    .story {
      background-color: antiquewhite;
      color: gray;
      width: 750px;
      padding: 5px;
      margin-top: 5px;
    }

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 750px;
      height: 15vh;
      font-weight: 30px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      color: blue;
      margin-top: 25px;
    }

    .genre,
    .length,
    .imprint,
    .publisher,
    .language {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 120px;
      text-align: center;
      width: 125px;
      font-size: 15px;
    }

    .Available {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 120px;
      text-align: center;
      width: 125px;
      font-size: 13px;
    }

    .Available ul li {
      list-style: none;
    }

    .policies {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      text-align: center;
      width: 550px;
      height: 12vh;
      border: 1px solid red;
      margin-top: 25px;
    }

    .return,
    .free,
    .cash,
    .secure {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 120px;
      width: 125px;
    }

    .name {
      display: flex;
      justify-content: center;
      flex-direction: row;
      font-size: larger;
    }

    .name span {
      color: rgb(10, 45, 91);
      font-weight: 700;
    }

    a {
      text-decoration: none;
    }

    .author {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
    }

    .authorname {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
    }

    .see {
      margin-top: 90px;
    }

    select {
      background-color: #fefefe;
      color: blue;
      ;
      padding: 2px;
      border-radius: 5px;
    }

    option {
      color: black;
      background-color: white;
    }

    .Editions {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      border: 2px solid black;
      width: 750px;
      padding: 5px;
      height: 30vh;
      margin-top: 25px;
    }

    .twomain {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      flex-direction: row;
      gap: 50px;
      border: 1px solid black;
      width: 300px;
    }

    .Kindle {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 1px solid rgb(17, 34, 88);
      width: 120px;
      height: 100px;
      padding: 5px;
    }

    .price {
      margin-top: 0px;
    }

    .vstatus {
      color: red;
    }

    .PaperBack {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 1px solid gray;
      width: 120px;
      height: 100px;
      padding: 5px;
    }

    .priceslot {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 750px;
    }

    .pricemainslot {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      border: 1px solid rgb(255, 217, 0);
      height: 110px;
    }

    .upperprice {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 400px;
      height: 110px;
      border: 1px solid black;
    }

    .realprice {
      text-decoration: line-through;
      color: black;
    }

    .showpri {
      color: red;
    }

    .disc {
      color: black;
    }

    .tax {
      font-size: 8px;
    }

    .quant {
      width: 120px;
      height: 35px;
      font-size: 16px;
      border-radius: 6px;
      padding: 4px;
      border: 1px solid #ccc;
      background-color: white;
      cursor: pointer;
      margin-top: 5px;
    }

    .offers {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      text-align: center;
      width: 750px;
      height: 150px;
      position: relative;
    }

    .avas {
      width: 750px;
      background-color: red;
      color: white;
      margin-top: -112px;
    }

    table {
      position: absolute;
      margin-top: 15px;
    }

    tr,
    td {
      border: 1px solid black;
    }

    .repre {
      width: 30vw;
      border: 1px solid black;
      height: 22vh;
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .innerbox {
      width: 28vw;
      height: 21vh;
      overflow-x: hidden;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      text-align: center;
      overflow-y: hidden;
    }

    .characterinfo {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 5px;
      width: 90px;
      height: 160px;
      border: 1px solid rgb(0, 0, 0);
    }

    .characterinfo img {
      width: 90px;
      height: 120px;
    }

    .name {
      font-size: smaller;
    }

    .signchar {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
    }

    .roleinfo {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      width: 30vw;
      height: 4vh;
      font-size: 12px;
      margin-top: 15px;
    }

    .roleinfo span {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 30vw;
      gap: 15px;
      border: 1px solid;
    }

    .sign {
      color: white;
      background-color: red;
      border-radius: 15px;
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    }

    .signo {
      color: white;
      background-color: blue;
      border-radius: 15px;
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    }

    .signt {
      color: rgb(0, 0, 0);
      background-color: yellow;
      border-radius: 15px;
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    }

    .signth {
      color: white;
      background-color: black;
      border-radius: 15px;
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    }

    .signfo {
      color: white;
      background-color: green;
      border-radius: 15px;
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    }

    .signfi {
      color: white;
      background-color: crimson;
      border-radius: 15px;
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    }

    .Prota,
    .anta,
    .foil,
    .lovei {
      width: 115px;
      height: 3vh;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .support,
    .minor {
      width: 155px;

      height: 3vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .report {
      font-size: 16px;
      margin-top: 15px;
    }

    .suggest {
      font-size: 12px;
    }

    .overallvol {
      width: 90vw;
      height: 30vh;
      background-color: white;
      border: 1px solid black;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .anvol {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      gap: 30px;
      border: 1px solid black;
      width: 88vw;
      height: 27vh;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-behavior: smooth;
    }

    .anvol img {
      width: 120px;
      height: 190px;
      object-fit: cover;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.3s;
      border: 1px solid black;
      background-color: #ff6600;
    }

    .anvol img:hover {
      border-color: #ff6600;
      transform: scale(1.05);
    }

    .another {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .product {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .showrel {
      width: 90vw;
      height: 40vh;
      background-color: white;
      border: 1px solid black;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .showrelall {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      gap: 30px;
      border: 1px solid black;
      width: 88vw;
      height: 40vh;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-behavior: smooth;
    }

    .showrelall img {
      width: 120px;
      height: 190px;
      object-fit: contain;
      border: 2px solid transparent;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.3s;
       border: 1px solid black;
    }
    .onerel{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid black;
      width: 20vw;
      font-size: 12px;
      text-align: center;
      height: 30vh;
    }

    .deepinsight {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: row;
      width: 100%;
      border: 1.5px solid rgb(8, 25, 57);
      height: 50vh;
      gap: 830px;
      background-color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .aboutpro {
      margin: 25px;
    }